<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Греко-католицька парафія Різдва Пресвятої Богородиці мкр.Дравці</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <link href="{% static 'events/img/favicon.png' %}" rel="icon">
  <link href="{% static 'events/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->



  <link href="{% static 'events/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'events/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'events/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'events/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'events/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'events/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'events/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'events/css/search.css' %}" rel="stylesheet">
  <script defer src="{% static 'events/js/search.js' %}"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>

  <!-- =======================================================
  * Template Name: MyResume - v4.7.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->

  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul> {% if user.is_authenticated %}
        <li><a href="{% url 'admin-menu' %}" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Адмін</span></a></li>
        <li><a href="{% url 'admin-news' %}" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Новини</span></a></li>
        <li><a href="{% url 'admin-preaching' %}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Проповіді</span></a></li>
        <li><a href="{% url 'admin-history' %}" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Історія</span></a></li>
        <li><a href="{% url 'index' %}" id="maine" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Назат на головну сторінку</span></a></li>
        <li><a href="{% url 'logout' %}" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Вийти</span></a></li>
          {% endif %}
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->
  {% block content %}

  {% endblock %}
    <!-- ======= Footer ======= -->
  <footer class="footer" id="footer">
    <div class="container">
      <h3></h3>
      <p></p>

      <div class="social-links">

        <br>
      </div>

      <div class="copyright">
        &copy; Copyright .<strong><span>2022</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        Designed by <a href="#">AceFree</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->

  <script src="{% static 'events/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'events/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'events/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'events/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'events/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'events/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'events/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'events/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->

  <script src="{% static 'events/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'events/js/delete.js' %}" ></script>

</body>

</html>